
body{
    background-color: #383838;
}

.nav__links ul{
    display: flex;
    list-style: none;
}

.nav__links ul li{
    padding: 10px 15;
    margin: 0 10px;
    position: relative;
}
.nav__links ul li a{
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    
}

.nav__links ul li ::before,
.nav__links ul li ::after{
    position: absolute;    
    content: '';
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition: 0.3s all ease-in-out;
}

.nav__links ul li ::before{
    top: 0;
    left: 0;
}
.nav__links ul li ::after{
    bottom: 0;
    right: 0;

}

.nav__links ul li:hover ::before{
    right: 0;
    left: auto;
    width: 100%;
    background-color: #f39c12;
}
.nav__links ul li:hover ::after{
    right: auto;
    left: 0;
    width: 100%;
    background-color: #f39c12;
}
.nav__links ul li:hover a{

    color: #f39c12;
}
.nav__links ul ul li{

    display: none;
  
}




